<script>
    const deleteVoter = (voterId) => {
        fetch(`/elections/<%= election.id %>/voters/${voterId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                _csrf: `<%= csrfToken %>`,
            }),
        }).then(async res => {
            if (res.status !== 200) {
                const json = await res.json();
                showMessage(json.errors, 'error');
            } else {
                location.reload();
            }
        });
    }
</script>
<div class="">
    <%= voters.length %> voters
    <br>
    <br>
    <% for (let i = 0; i < voters.length; i++) { %>
    <%- include('voter', { voter: voters[i], index: i }) %>
    <% } %>
    <form action="/elections/<%= election.id %>/voters" class="flex items-center gap-2" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="text" name="voterId" placeholder="Voter ID">
        <input type="text" name="password" placeholder="Password">
        <button class="border border-rose-600 text-rose-600 hover:bg-rose-500/30 px-5 py-2 rounded-lg shrink-0 text-xl font-bold">Add</button>
    </form>
</div>